@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Playwrite+GB+S+Guides:ital@0;1&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 96rem;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: "Playwrite GB S Guides", cursive;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-weight: bold;
}


a {
  color: black;
}

a:hover {
  color: #9E3B3B;
}

main {
  max-width: 50rem;
  margin: 0 auto;
}

main section {
    padding: 1rem;
}

.banner h1 {
  font-size: 2.5rem;
  font-family: "MedievalSharp", cursive;
}

.banner p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.latest-added {
  padding: 1rem;
  margin-top: 2rem;
}

.latest-added-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.latest-added-article {
  border: 1px solid rgb(236, 236, 236);
  padding: 1rem;
  border-radius: 5px;
}

.latest-added-article small {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
}

.latest-added-article small a {
  text-decoration: none;
}

.latest-added-article h3 {
  font-size: 1.2rem;
}

.latest-added-article p {
  color: rgb(78, 78, 78);
  margin-top: 0.5rem;
  line-height: 1rem;
}