@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Playwrite+GB+S+Guides:ital@0;1&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 96rem;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: "Playwrite GB S Guides", cursive;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-weight: bold;
}


a {
  color: black;
}

a:hover {
  color: #9E3B3B;
}

main {
  max-width: 50rem;
  margin: 0 auto;
}

main section {
    padding: 1rem;
}

.banner h1 {
  font-size: 2.5rem;
  font-family: "MedievalSharp", cursive;
}

.banner p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.latest-added {
  padding: 1rem;
  margin-top: 2rem;
}

.latest-added-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.latest-added-article {
  border: 1px solid rgb(236, 236, 236);
  padding: 1rem;
  border-radius: 5px;
}

.latest-added-article small {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
}

.latest-added-article small a {
  text-decoration: none;
}

.latest-added-article h3 {
  font-size: 1.2rem;
}

.latest-added-article p {
  color: rgb(78, 78, 78);
  margin-top: 0.5rem;
  line-height: 1rem;
}

.techs {
  margin-top: 2rem;
}

.techs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.tech-article {
  background-color: rgb(248, 248, 248);
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
}

.tech-article a {
  text-decoration: none;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid rgb(236, 236, 236);
}

footer .author-link {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;
}

footer .author-link img {
  width: 35px;
}

footer p {
  font-size: 0.8rem;  
}

footer a:hover {
  color: #9E3B3B;
} 

/* HTML */
.section-title {
  margin-top: 2rem;
  font-size: 2rem;
  font-family: "MedievalSharp", cursive;
}


.section-content h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.section-content h3 {
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

.section-content p {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: justify;
}

pre code {
  background-color: rgb(236, 236, 236);
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  overflow-x: auto;
  margin-top: 1rem;
  text-wrap: nowrap;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: start;
}

.section-content img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 1rem;
}

.code {
  background-color: rgb(236, 236, 236);
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.table {
  margin-top: 1rem;
  width: 100%;
  border: 1px solid rgb(236, 236, 236);
}

.table thead {
  background-color: rgb(248, 248, 248);
}

.table th {
  padding: 1rem;
  text-align: left;
  font-weight: bold;
}

.table td {
  padding: 1rem;
}

.table tr:nth-child(even) {
  background-color: rgb(248, 248, 248);
}

.list {
  margin: 1rem 0;
  margin-left: 1rem;
  list-style: disc;
}

.list li {
  margin: 0.5rem 0;
}
